chromadb==1.5.5
docling==2.86.0
langchain==1.2.13
langchain-chroma==1.1.0
langchain-community==0.4.1
langchain-core==1.2.22
langchain-docling==2.0.0
langchain-ollama==1.0.1
langchain-openai==1.1.12
langchain-text-splitters==1.1.1
pypdf==6.9.2
streamlit==1.55.0

#evaluation
ragas==0.4.3
rapidfuzz==3.14.5

